* {
    box-sizing: border-box
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 80ch;
    padding: 1rem;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

/* nav styles */
.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links {
    margin: 0;
    display: none;
    width: 100%;
}

.nav-links a {
    color: #0d0950;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        background: none;
        display: block;
        margin-left: 5em;
        position: static;
        width: auto;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}

/* Dark Styles */
html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .menu {
    background-color: #fff;
    color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: #0d0950;
}

.dark .nav-links a {
    color: #fff;
}

.dark a {
    color: #ff9776;
}